<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>知乎日报</title>
    </head>
    <body>
        <p>知乎日报</p>
        <label for="dateTime">日期选择：</label>
        <form action="/daily/select/" name="date-select" method="get">
            <input id="dateTime" type="date" value="{{ date_value }}" name="time"/>
            <input type="submit" value="查找">
        </form>

        <ul>
            {% for item in item_list %}
                <li><a href="{{ item.link }}">{{ item.title }}</a> </li>
            {% endfor %}
        </ul>
    </body>
</html>
